<div id="templateArea" style="border: 0px solid #000;margin: 0px;width:438px;height:558px;background-color:#ffffff;">
	<div id="droppable1" class="Template" style="width:210px;height:269px;" pos="5:5"></div>
	<div id="droppable2" class="Template" style="width:209px;height:269px;" pos="220:5"></div>
	<div id="droppable3" class="Template" style="width:210px;height:269px;" pos="5:280"></div>
	<div id="droppable4" class="Template" style="width:209px;height:269px;" pos="220:280"></div>		
</div>	
<script>
jQuery(function() {
	droppableScript("droppable1",'1');
	droppableScript("droppable2",'2'); 				
	droppableScript("droppable3",'3');
	droppableScript("droppable4",'4');	
});
</script>