<div id="templateArea" style="border: 0px solid #000;margin: 0px;width:438px;height:449px;background-color:#ffffff;">
	<div id="droppable1" class="Template" style="width:259px;height:215px;" pos="5:5"></div>	
	<div id="droppable2" class="Template" style="width:159px;height:215px;" pos="269:5"></div>
	<div id="droppable3" class="Template" style="width:159px;height:215px;" pos="5:225"></div>		
	<div id="droppable4" class="Template" style="width:259px;height:215px;" pos="169:225"></div>		
</div>	
<script>
jQuery(function() {
	droppableScript("droppable1",'1');
	droppableScript("droppable2",'2'); 				
	droppableScript("droppable3",'3');
	droppableScript("droppable4",'4');
});
</script>