<div id="templateArea" style="border: 0px solid #000;margin: 0px;width:438px;height:449px;background-color:#ffffff;">
	<div id="droppable1" class="Template" style="width:137px;height:215px;" pos="5:5"></div>
	<div id="droppable2" class="Template" style="width:137px;height:215px;" pos="147:5"></div>
	<div id="droppable3" class="Template" style="width:137px;height:215px;" pos="289:5"></div>
	<div id="droppable4" class="Template" style="width:209px;height:215px;" pos="5:225"></div>
	<div id="droppable5" class="Template" style="width:209px;height:215px;" pos="219:225"></div>		
</div>	
<script>
jQuery(function() {
	droppableScript("droppable1",'1');
	droppableScript("droppable2",'2'); 				
	droppableScript("droppable3",'3');
	droppableScript("droppable4",'4');	
	droppableScript("droppable5",'5');	
});
</script>